@mixin reset {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;

        
    }
    li{
        list-style-type: none;
    }
    a{
        text-decoration: none;
    }
}

@mixin flex($justify:center,$direction:row) {
    display: flex;

    justify-content: $justify;;
    
    flex-direction: $direction;
   
}
@mixin border ($border-color:black){
    border: 1px solid $border-color
    
}
@mixin paddings($values...) {
      padding: $values
    
}
@mixin ehsan(){
    color:red
}

